body {
  margin: 70px 0;
  padding: 0;
  display: flex;
  text-align: center;
  font-family: 'Monoton', cursive;
  background-image: url('./bg.gif');
  color: white;
}

.fas {
  font-size: 50px;
}

#playbutton:focus {
  outline: none;
}

.information {
  flex: 2;
  font-size: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 660px;
}

.hold-box {
  flex: 1.9;
  display: flex;
  flex-direction: row-reverse;
}

.title {
  flex: 1;
  animation: title 0.5s linear infinite;
}

@keyframes title {
  0%   {color: rgb(236, 55, 55);}
  25%  {color: yellow;}
  50%  {color: rgb(27, 27, 207);}
  100% {color: rgb(70, 204, 70);}
}

.commands {
  font-size: 30px;
  flex: 2;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 50px;
  left: 0;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 20px;
  visibility: hidden;
  position: relative;
}

@keyframes commands {
  0% {left: -470px;}
  100% {left: 0px;}
}

.command-controls {
  display: flex;
  font-size: 20px;
  height: 160px;
  margin-top: 20px;
  font-family: 'Righteous', cursive;
}

.keyboard-controls1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-left: 30px;
}

.command-outline {
  border: 1px solid white;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.command-direction {
  display: flex;
  align-items: center;
}

.shift {
  width: 70px;
}

.space {
  width: 80px;
}

.command-icon {
  font-size: 20px;
}

.command-button {
  display: flex;
}

.keyboard-controls2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#restart {
  font-size: 50px;
  text-align: end;
  padding-top: 50px;
  padding-left: 50px;
}

#restart:hover {
  color: #db1d50;
  cursor: pointer;
}

.game-board {
  display: flex;
  justify-content: center;
  flex: 0.8;
  height: 600px;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 650px;
  width: 350px;
  border-radius: 30px;
  position: relative;
}

#paused {
  height: 225px;
  width: 480px;
  margin: 0 auto;
  font-size: 100px;
  background-color: #db1d50;
  color: white;
  position: absolute;
  z-index: 100;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Monoton', cursive;
  padding: 15px;
  align-self: center;
  width: 100%;
  padding-top: 90px;
}

.blink {
  animation: blinker 1s ease-in infinite;
  display: flex;
  flex-direction: column;
}

@keyframes blinker {
  50% {opacity: 0;}
}

#voistris {
  box-sizing: border-box;
  border: 30px ridge white;
  border-radius: 30px;
}

.hold {
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border-left: 20px ridge white;
  border-top: 20px ridge white;
  border-bottom: 20px ridge white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.hold-next-label {
  font-size: 30px;
}

#hold-piece {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.next {
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border-right: 20px ridge white;
  border-top: 20px ridge white;
  border-bottom: 20px ridge white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#next-piece {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#next-piece-image {
  height: 100px;
  width: 100px;
}

.right-div {
  flex: 2;
  font-size: 80px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next-box {
  flex: 1.5;
}

.score-level {
  font-size: 50px;
  background-color: #db1d50;
  margin-left: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;

  position: relative;
}

@keyframes score-level {
  0% {right: -470px;}
  100% {right: 0px;}
}

.score {
  display: flex;
  color: white;
  z-index: 10;
}

#score {
  margin-left: 15px;
}

.level {
  display: flex;
  color: white;
  z-index: 10;
}

#level {
  margin-left: 15px;
}

#playbutton {
  height: 330px;
  width: 480px;
  margin: 0 auto;
  font-size: 100px;
  color: white;
  background-color: #1fcbc4;
  position: absolute;
  z-index: 100;
  border: none;
  align-items: center;
  font-family: 'Monoton', cursive;
  padding: 50px;
  align-self: center;
  width: 100%;
}

#playbutton:hover {
  cursor: pointer;
  background-color: #db1d50;
}

#game-end {
  height: 300px;
  width: 480px;
  margin: 0 auto;
  font-size: 100px;
  background-color: #db1d50;
  color: white;
  position: absolute;
  z-index: 100;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Monoton', cursive;
  padding: 15px;
  align-self: center;
  width: 100%;
}

#game-end:hover {
  cursor: pointer;
  background-color: #1fcbc4;
  color: #db1d50;
}

.your-score {
  font-size: 50px;
}

#gameover-score {
  font-size: 50px;
}

#playbutton-emoji {
  font-size: 100px;
}

.sound {
  display: flex;
  flex: 1;
  margin-left: 50px;
  justify-content: space-between;
}

.fa-volume-up {
  padding-right: 70px;
  padding-top: 60px;
}

.fa-volume-mute {
  padding-right: 70px;
  padding-top: 60px;
}