body {
  margin: 40px 0;
  padding: 0;
  display: flex;
  text-align: center;
  font-family: 'Monoton', cursive;
  background-image: url('./bg.gif');
  color: white;
  position: relative;
}

.information {
  flex: 1;
  font-size: 80px;
  text-align: center;
  max-width: 325px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  position: absolute;
  left: 50px;
}

#game-end {
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: white;
  color: red;
  font-size: 20px;
}

.game-board {
  display: flex;
  justify-content: center;
  flex: 2;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.19);
  height: 650px;
  width: 350px;
  padding-top: 50px;
  border-radius: 10px;
}

#voistris {
  border: 20px solid #ffffffbf;
  /* border-radius: 10px; */
  /* box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2),
  0 0 5px 5px rgba(255, 255, 255, 0.19); */
}

.hold {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  border-left: 20px solid #ffffffbf;
  border-top: 20px solid #ffffffbf;
  border-bottom: 20px solid #ffffffbf;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.hold-next-label {
  font-size: 30px;
}

#hold-piece {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  /* box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2),
  0 0 5px 5px rgba(255, 255, 255, 0.19); */
}

.next {
  margin-top: 50px;
  height: 200px;
  width: 200px;
  border-right: 20px solid #ffffffbf;
  border-top: 20px solid #ffffffbf;
  border-bottom: 20px solid #ffffffbf;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#next-piece {
  width: 100px;
  height: 100px;
  /* border-right: 10px solid #ffffffbf;
  border-top: 10px solid #ffffffbf;
  border-bottom: 10px solid #ffffffbf;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px; */
  margin: 0 auto;
  /* box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.2),
  0 0 5px 5px rgba(255, 255, 255, 0.19); */
}

#next-piece-image {
  height: 100px;
  width: 100px;
}

.right-div {
  flex: 1;
  font-size: 80px;
  /* text-align: center; */
  max-width: 325px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.score-level {
  font-size: 50px;
}

.score {
  /* margin: 0 auto; */
  display: flex;
  color: white;
  z-index: 10;
}

#score {
  margin-left: 10px;
}

.level {
  /* margin: 0 auto; */
  display: flex;
  color: white;
  z-index: 10;
}

#level {
  margin-left: 10px;
}

#playbutton {
  height: 45px;
  width: 150px;
  margin: 0 auto;
  border-radius: 10px;
  font-size: 15px;
  background-color: red;
  color: white;
  position: absolute;
  z-index: 10;
  border: none;
}

#playbutton:hover {
  cursor: pointer;
  background-color: blue;
}

.sound {
  display: flex;
}

.fas {
  font-size: 50px;
}