body {
  margin: 70px 0;
  padding: 0;
  display: flex;
  text-align: center;
  font-family: 'Monoton', cursive;
  background-image: url('./bg.gif');
  color: white;
  overflow: hidden;
}

.fas {
  font-size: 50px;
}

#playbutton:focus {
  outline: none;
}

.information {
  flex: 2;
  font-size: 80px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 660px;
}

.top-left {
  display: flex;
  justify-content: space-between;
  flex: 1.9;
}

.scoreboard {
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  flex: 1;
  margin-right: 30px;
  padding-top: 10px;
  visibility: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.leaderboard-labels {
  margin: 13px 0 5px 0;
}

.score-scores {
  margin: 2px 0;
}

.top-score-rank {
  justify-content: space-evenly;
  margin-left: 10px;
  margin-bottom: 10px;
}

.top-score-name {
  justify-content: space-evenly;
  margin-left: 10px;
  margin-bottom: 10px;
}

.top-score-score {
  justify-content: space-evenly;
  margin-right: 5px;
  margin-bottom: 10px;
}

.top-scores {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  height: 170px;
}

.top-score-rank {
  display: flex;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.top-score-name {
  display: flex;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.top-score-score {
  display: flex;
  flex-direction: column;
  font-family: 'Righteous', cursive;
  font-size: 20px;
}

.hold-box {
  display: flex;
  flex-direction: row-reverse;
}

.title {
  flex: 1;
  animation: title 0.5s linear infinite;
}

@keyframes title {
  0%   {color: rgb(236, 55, 55);}
  25%  {color: yellow;}
  50%  {color: rgb(27, 27, 207);}
  100% {color: rgb(70, 204, 70);}
}

.commands {
  font-size: 30px;
  flex: 2;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 50px;
  left: 0;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  padding-top: 20px;
  visibility: hidden;
  position: relative;
}

@keyframes commands {
  0% {left: -470px;}
  100% {left: 0px;}
}

.command-controls {
  display: flex;
  font-size: 20px;
  height: 160px;
  margin-top: 20px;
  margin-left: 30px;
  font-family: 'Righteous', cursive;
}

.keyboard-controls1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  padding-left: 30px;
}

.command-outline {
  border: 1px solid white;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.command-direction {
  display: flex;
  align-items: center;
}

.shift {
  width: 70px;
}

.space {
  width: 80px;
}

.command-icon {
  font-size: 20px;
}

.command-button {
  display: flex;
}

.keyboard-controls2 {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

#restart {
  font-size: 50px;
  text-align: end;
  padding-top: 50px;
  padding-left: 50px;
}

#restart:hover {
  animation: title 0.5s linear infinite;
  cursor: pointer;
}

.game-board {
  display: flex;
  justify-content: center;
  flex: 0.8;
  height: 600px;
}

.canvas {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  height: 650px;
  width: 350px;
  border-radius: 30px;
  position: relative;
}

#paused {
  height: 225px;
  width: 480px;
  margin: 0 auto;
  font-size: 100px;
  background-color: #db1d50;
  color: white;
  position: absolute;
  z-index: 100;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Monoton', cursive;
  padding: 15px;
  align-self: center;
  width: 100%;
  padding-top: 90px;
}

.blink {
  animation: blinker 1s ease-in infinite;
  display: flex;
  flex-direction: column;
}

@keyframes blinker {
  50% {opacity: 0;}
}

.count {
  font-size: 130px;
  animation: count 0.8s infinite;
}

@keyframes count {
  0% {transform: scale(1);}
	100% {transform: scale(1.5);}
}

.go {
  font-size: 130px;
}

#voistris {
  box-sizing: border-box;
  border: 30px ridge white;
  border-radius: 30px;
}

.hold {
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border-left: 20px ridge white;
  border-top: 20px ridge white;
  border-bottom: 20px ridge white;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.hold-next-label {
  font-size: 30px;
}

#hold-piece {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.next {
  margin-top: 50px;
  height: 150px;
  width: 150px;
  border-right: 20px ridge white;
  border-top: 20px ridge white;
  border-bottom: 20px ridge white;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}

#next-piece {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

#next-piece-image {
  height: 100px;
  width: 100px;
}

.right-div {
  flex: 2;
  font-size: 80px;
  height: 660px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.next-box {
  display: flex;
  justify-content: space-between;
  flex: 1.5;
}

.my-information {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 35px;
  padding-top: 70px;
  padding-right: 50px;
}

.github-linkedin {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
}

.info-logo {
  font-size: 60px;
  margin: 30px 30px 0 10px;
}

a {
  color: white;
}

a:hover {
  animation: title 0.5s linear infinite;
}

.score-level {
  font-size: 50px;
  background-color: #db1d50;
  margin-left: 50px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  visibility: hidden;
  position: relative;
}

@keyframes score-level {
  0% {right: -470px;}
  100% {right: 0px;}
}

.score {
  display: flex;
  color: white;
  z-index: 10;
}

#score {
  margin-left: 15px;
}

.level {
  display: flex;
  color: white;
  z-index: 10;
}

#level {
  margin-left: 15px;
}

.choose-option {
  background-color: #1fcbc4;
  position: absolute;
  z-index: 100;
  border: none;
  height: 330px;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.choose-option-label {
  flex: 1;
  font-size: 40px;
  padding-top: 10px;
  color: #342b63;
}

.input-your-own {
  color: #342b63;
  letter-spacing: 1px;
  font-family: 'Righteous', cursive;
  padding-bottom: 10px;
}

.please-speak-slowly {
  padding-bottom: 0;
  padding-top: 10px;
  color: #db1d50;
}

.choose-method {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  font-size: 60px;
  color: white;
  font-family: 'Monoton', cursive;
  width: 100%;
}

.voice {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 200px;
}

.voice:hover {
  cursor: pointer;
  color: #db1d50;
}

.keyboard {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 200px;
}

.keyboard:hover {
  cursor: pointer;
  color: #db1d50;
}

#voice-option {
  visibility: hidden;
  background-color: #1fcbc4;
  position: absolute;
  z-index: 100;
  border: none;
  height: 330px;
  width: 100%;
  margin: 0 auto;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.voice-commands-inputs {
  display: flex;
  flex: 10;
  width: 100%;
  justify-content: space-evenly;
}

.voice-commands-inputs-words {
  display: flex;
  font-size: 30px;
}

.voice-commands-label-inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 20px;
  font-size: 25px;
}

.voice-commands-inputs-words input {
  height: 40px;
  margin-left: 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

.voice-commands-inputs-words input:focus {
  outline: none;
  border: 2px solid s342b63;
}

.choose-method-icon {
  font-size: 100px;
}

.choose-voice-play {
  font-size: 30px;
  margin-bottom: 10px;
}

.choose-voice-play:hover {
  color: #db1d50;
  cursor: pointer;
}

#playbutton {
  height: 330px;
  margin: 0 auto;
  font-size: 100px;
  color: white;
  background-color: #1fcbc4;
  position: absolute;
  z-index: 100;
  border: none;
  align-items: center;
  font-family: 'Monoton', cursive;
  padding: 50px;
  align-self: center;
  width: 100%;
  visibility: hidden;
}

#playbutton:hover {
  cursor: pointer;
  background-color: #db1d50;
}

#game-end {
  height: 300px;
  width: 480px;
  margin: 0 auto;
  font-size: 100px;
  background-color: #db1d50;
  color: white;
  position: absolute;
  z-index: 100;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Monoton', cursive;
  padding: 15px;
  align-self: center;
  width: 100%;
}

#game-end:hover {
  cursor: pointer;
  background-color: #1fcbc4;
  color: #db1d50;
}

.game-over {
  font-size: 80px;
}

#score-name {
  height: 40px;
  margin-left: 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 20px;
  font-family: 'Righteous', cursive;
}

#score-name:focus {
  outline: none;
  border: 2px solid #342b63;
}

.your-score {
  font-size: 35px;
}

.submit-score-div {
  display: flex;
  justify-content: space-around;
  margin: 10px 500px;
}

#submit-score {
  height: 40px;
  margin-left: 20px;
  width: 200px;
  border: none;
  text-align: center;
  font-size: 30px;
  font-family: 'Righteous', cursive;
  background-color: transparent;
  color: white;
}

#submit-score:hover {
  cursor: pointer;
  color: #db1d50;
}

#submit-score:focus {
  outline: none;
}

#gameover-score {
  font-size: 35px;
}

#playbutton-emoji {
  font-size: 100px;
}

.sound {
  display: flex;
  flex: 1;
  margin-left: 50px;
  justify-content: space-between;
}

.fa-volume-up {
  padding-right: 70px;
  padding-top: 60px;
  animation: volume 0.5s ease-in-out infinite;
}

@keyframes volume {
  0% {transform: scale(1);}
  25% {transform: scale(1.025);}
  50% {transform: scale(1.05);}
  75% {transform: scale(1.075);}
  100% {transform: scale(1.1);}
}

.fa-volume-up:hover {
  cursor: pointer;
  color: #db1d50;
}

.fa-volume-mute {
  color: #db1d50;
  padding-right: 70px;
  padding-top: 60px;
}

.fa-volume-mute:hover {
  cursor: pointer;
  color: white;
}

#restart-volume {
  visibility: hidden;
}

#command-outline-pause {
  display: block;
}

#command-outline-mute {
  display: block;
}